@charset "utf-8";
//================================================================================
// Colors
//================================================================================
$red: #DD2C00;
$green: #00C853;
$orange: #FFAB00;

$primary: #0336FF;
$primary-dark-deep: darken($primary, 35%);
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 35%);

$secondary: #00BDFF;
$secondary-dark: darken($secondary, 10%);
$secondary-light: lighten($secondary, 35%);

$gray-800: #424242;
$gray-700: #616161;
$gray-600: #757575;
$gray-500: #9E9E9E;
$gray-400: #BDBDBD;
$gray-300: #E0E0E0;
$gray-200: #EEEEEE;
$gray-100: #F5F5F5;
$gray-50: #FAFAFA;

$info-box-bg: rgba(3, 54, 255, 0.05);


$colors: primary, success, info, warning, danger, secondary, dark, primary-dark-deep;

$theme-colors: (
  "primary": $primary,
  "success": $green,
  "info": $secondary,
  "warning": $orange,
  "danger": $red,
  "secondary": #0068af,
  "dark": #212121,
  "primary-dark-deep": $primary-dark-deep,
  "gray-800": $gray-800,
);

$white: #fff;

//================================================================================
// Font
//================================================================================
$font-head-size: 26px;
$font-xs-size: 12px;
$font-sm-size: 13px;
$font-m-size: 14px;
$font-m-2-size: 15px;
$font-lg-size: 18px;
$font-xl-size: 20px;

$font-head-weight: 700;
$font-xs-weight: 400;
$font-sm-weight: 400;
$font-m-weight: 400;
$font-m-bold-weight: 500;
$font-m-2-weight: 500;
$font-lg-weight: 500;
$font-xl-weight: 500;

$font-head-height: 36px;
$font-xs-height: 17px;
$font-sm-height: 20px;
$font-m-height: 20px;
$font-m-2-height: 22px;
$font-lg-height: 26px;
$font-xl-height: 29px;


//================================================================================
// Space
//================================================================================
$space-modal-container: 20px 20px 30px; // margin
$space-toast-container: 20px 20px 30px; // margin
$space-modal-title: 20px; // margin-bottom
$space-toast-title: 8px; // margin-bottom
$space-end-section: 30px; // margin-bottom
$space-input: 20px; // margin-bottom
$space-label-input: 4px; // margin-bottom
$space-select-option: 10.5px 16px; // margin


//================================================================================
// Modal
//================================================================================
$modal-xs: 380px;
$modal-sm: 520px;
$modal-m: 800px;
$modal-lg: 1200px;
