@import '../common.scss';

$transitionList: slide, scale, fade;
$transitionDirection: top, right, bottom, left;

@each $item in $transitionList {
  @each $direct in $transitionDirection {
    .drop-menu-#{$item}-#{$direct}-enter-from,
    .drop-menu-#{$item}-#{$direct}-leave-to {
      opacity: 0;

      @if $item == slide {
        @if $direct == bottom {
          transform: translateY(-1em);
        } @else if $direct == right {
          transform: translateX(-1em);
        } @else if $direct == left {
          transform: translateX(1em);
        } @else {
          transform: translateY(1em);
        }
      } @else if $item == scale {
        transform: scale(0);
      }
    }
    .drop-menu-#{$item}-#{$direct}-enter-active,
    .drop-menu-#{$item}-#{$direct}-leave-active {
      transition: all 0.2s ease;
    }
  }
}

.drop-menu {
  display: inline-block;
  position: relative;

  .drop-menu-wrap {
    width: fit-content;
    min-width: fit-content;
    z-index: 30;
    position: fixed;
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-style: solid;
    // border-radius: 5px;

    &.top {
      transform-origin: bottom center;
      margin-bottom: 1px;
    }
    &.right {
      transform-origin: top left;
      margin-left: 1px;
    }
    &.left {
      transform-origin: top right;
      margin-right: 1px;
    }
    &.bottom {
      transform-origin: top center;
      margin-top: 1px;
    }

    li {
      a {
        // border-radius: 5px;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-size: 15px;
        font-weight: 400;
        transition: background-color 0.2s ease;

        svg {
          margin-left: 25px;
        }
      }
    }
  }

  @each $key, $value in $theme-colors {
    &.#{$key} .drop-menu-wrap {
      border-color: darken($value, 5);
      background-color: $value;

      li a:hover {
          background-color: darken($value, 10);
      }
    }
  }
}